<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://127.0.0.1:5432/job4j_hibernate</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">password</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="ru.reybos.toone.model.Role" />
        <mapping class="ru.reybos.toone.model.User" />
        <mapping class="ru.reybos.many.model.RoleMany" />
        <mapping class="ru.reybos.many.model.UserMany" />
        <mapping class="ru.reybos.cars.model.CarModel" />
        <mapping class="ru.reybos.cars.model.CarProducer" />
        <mapping class="ru.reybos.manytomany.model.Address" />
        <mapping class="ru.reybos.manytomany.model.Person" />
        <mapping class="ru.reybos.books.model.Author" />
        <mapping class="ru.reybos.books.model.Book" />
        <mapping class="ru.reybos.lazy.model.Category" />
        <mapping class="ru.reybos.lazy.model.Task" />
        <mapping class="ru.reybos.lazycars.model.Producer" />
        <mapping class="ru.reybos.lazycars.model.Model" />
        <mapping class="ru.reybos.carandowner.model.Car" />
        <mapping class="ru.reybos.carandowner.model.Engine" />
        <mapping class="ru.reybos.carandowner.model.Driver" />
        <mapping class="ru.reybos.hql.model.Student" />

        <mapping class="ru.reybos.tutorial.helloworld.Message" />
    </session-factory>
</hibernate-configuration>